.middleSection {
  /* display: flex;
  justify-content: space-between; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* background-color: antiquewhite; */
}
.statistics {
  display: flex;
  justify-content: space-around;
  /* background-color: rgb(235, 221, 202); */
}
.number {
  font-size: 3rem;
  font-weight: bold;
}
.stat1,
.stat2,
.stat3,
.stat4,
.stat5 {
  cursor: pointer;
}
.statistics > div > p:hover {
  color: rgb(8, 126, 126);
}
